<!DOCTYPE html>
<html>
<title>Zendesk</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<body>
    <header class="w3-container w3-green">
    <h1>Ticket Viewer</h1>
    </header>
    <div class="w3-container">
        {{ pagination.info }}
        {% block content %}
        <div class="w3-responsive" style="height:600px;overflow:auto;">
            <table class="w3-table-all w3-hoverable">
            <!-- table header -->
            {% if headers %}
            <thead>
                <tr class="w3-green">
                    {% for key in headers %}
                        <th> {{ key }} </th>
                    {% endfor %}
                </tr>
            </thead>
            {% endif %}
                <!-- table rows -->
                {% for data in list %}
                <tr>
                    <td><button class="w3-button w3-green w3-border-green w3-round-large" onclick="document.location='/ticket?id={{data[0]}}'">Ticket</button></td>
                    {% for value in data %}
                        <td> {{ value }} </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endblock %}
        {{pagination.links}}
    </div>
</body>